@import '@fontsource/outfit';
@import '@fontsource/outfit/700.css';
@import '@fontsource/outfit/500.css';
@import '@fontsource/outfit/600.css';
@import '@fontsource/outfit/300.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fc-button-text-color: black;
  --fc-button-bg-color: white;
  --fc-button-border-color: white;
  --fc-button-hover-bg-color: #FEEBE2;
  --fc-button-hover-border-color: white;
  --fc-button-active-bg-color: #FEEBE2;
  --fc-button-active-border-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fc-daygrid-event-harness {
  padding-top: 4px;
  padding-bottom: 4px;
}
  

body {
  margin: 0;
  place-items: center;
  place-content: center;
  min-height: 100dvh;
  @apply bg-base-100;
}

.btn-primary{
  @apply text-white;
}

.btn-outline.btn-primary {
  @apply text-primary;
}

.btn-outline.btn-primary:hover {
  @apply text-white;
}

.fc-daygrid-block-event {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 2.5rem;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
}

.fc-scrollgrid-liquid {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
