@import '@fontsource/outfit';
@import '@fontsource/outfit/700.css';
@import '@fontsource/outfit/500.css';
@import '@fontsource/outfit/600.css';
@import '@fontsource/outfit/300.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100dvh;
  @apply bg-base-100;
}

.btn-primary{
  @apply text-white;
}

.btn-outline.btn-primary {
  @apply text-primary;
}

.btn-outline.btn-primary:hover {
  @apply text-white;
}